<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cssjs/clientLoginLayout.css">
    <link rel="stylesheet" href="/cssjs/bootstrap.css">
    <script>
         //integrity check
        //  var d=window.location.href;
        //  if(d.search("https://")==-1){
        //      window.location.href=d.replace("http://","https://");
        //  }
        // alert("Welcome to my heroku app test the logins with one user \n\n Password: 2021@ \n Email: ajedamilola@gmail.com \n it is connected to my mongodb");
    </script>
    
    <script src="/cssjs/bootstrap.js"></script>
    <script src="/cssjs/jquery.js"></script>

</head>
<% if (page=="login") { %>
    <body class="gradient-faded">
<% }else{ %>
    <body>
<% } %> 
    <nav class="navbar navbar-main navbar-light navbar-expand-lg">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">TOPICS</a>
                </li>
            </ul>
        </div>
    </nav>