<%- include ("header"); %> 
    <div class="main-content container min-vw-100">
        <h1 class="display-4">
            New Blog/Site Account
        </h1>
        <% if(error!=""){ %> 
            <div class="alert alert-faded alert-danger">
                <%= error %> 
            </div>
        <% } %> 
        <form action="/newAcc" method="post" id="sign-up">
            <br>
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <input type="email" name="email" id="email" class="form-control  field" placeholder="Input Your Email Address" required> 
                    <div style="color:red" id="emailt"></div>
                </div>
                <div class="col-md-5 col-sm-12"> 
                    <input type="text" name="sitename" id="sitename" class="form-control  field" placeholder="Choose A Site Name" required>
                    <span style="color:red" id="blogt"></span>
                </div>
                <div class="col-md-6 col-sm-12"><input type="password" name="password" id="p1" class="form-control ml-up field" placeholder="Input Password" required></div>
                <div class="col-md-6 col-sm-12"><input type="password" name="p" id="p2" class="form-control ml-up field" placeholder="Confirm Password" required></div>
                <div class="col-12" style="text-align: left !important;font-size: small;">
                    <span style="color:red" class="text-sm">Passwords Must Match</span><br>
                    <span style="color:red" class="text-sm">At least eight characters</span>
                </div>
                <div class="col-12"><input type="text" name="slug" id="linkname" class="field form-control" placeholder="choose a url friendly slug e.g coffee-blog" required></div>
            </div>
           
            <input type="checkbox" name="check" id="check_login" required class="ml-up"><label for="check_logn">
                By clicking This Checkbox you Agree to Our Liscence agreement
            </label>
            <span>
                <a href="/accountLogin">Already Have Account? Login</a>
            </span>
            <br>
            <button type="submit" class="btn btn-outline-main ml-up" id="sub">Create Account</button>
        </form>
        
    </div>
    <script>
        let usernameExist=true;
        let emailExist=true;
        let blogExist=true;
        var d=setInterval(function(){
            var p=document.getElementById("p1").value;
            var q=document.getElementById("p2").value;
            if(p!=q || p.length<8){
                document.getElementById("sub").disabled=true;
            }else{
                document.getElementById("sub").disabled=false;
            }

            if(p==q && p.length>0){
                document.getElementsByClassName("text-sm")[0].style.color="#00ff00";
            }
            if(p!=q){
                document.getElementsByClassName("text-sm")[0].style.color="#ff0000";
            }
            if(p.length>=8){
                document.getElementsByClassName("text-sm")[1].style.color="#00ff00";
            }
            if(p.length<8){
                document.getElementsByClassName("text-sm")[1].style.color="#ff0000";
            }

            
        },200)
    </script>
<%- include ("footer"); %> 